<div id="device" style="height: 971px;">    
    <section class="grid-wrap">
        <ul class="grid swipe-down" id="grid">
            <li class="title-box">
                <h1>About the<a href="#">Team</a></h1>
            </li>
                <% unless @museum.exhibitions.empty? %>
                      <% @museum.exhibitions.each do |exhibition| %>
                        <li><a href="/exhitions/<%= exhibition.id %>"><img class="ri" src="<%= exhibition.image_url %>" alt="<%= exhibition.name %>"><h3><%= exhibition.name %></h3></a></li>
                      <% end %>
                <% end %>
        </ul>
    </section>
</div><!-- /container -->