<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>the Exhibitionist</title>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
      <header style="width:570px; margin-left: -285px; display: block;">
      </header>
        